@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #333333;
  font-family: 'PT Sans', sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*-------------------------------
toggle button & nav menu
-------------------------------*/
#nav {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  padding: 60px 25px;
  transition: all .5s;
  z-index: 20;
  opacity: 0;
  background: #121212;
  height: 100vh;

  a {
    color: white;
  }

  .menu {
    margin-bottom: 60px;

    li {
      padding: 20px 0;
      border-top: solid 1px white;

      &:last-child {
        border-bottom: solid 1px white;
      }

      a {
        text-transform: uppercase;
      }
    }
  }

  &.open {
    left: 0;
    opacity: 1;
  }
}

.menu-btn {
  width: 30px;
  height: 30px;
  position: relative;
  transition: all .5s;
  cursor: pointer;
  z-index: 20;

  span {
    display: block;
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #fff;
    border-radius: 4px;
    transition: all .5s;

    &:first-child {
      top: 4px;
    }

    &:nth-child(2) {
      top: 14px;
    }

    &:last-child {
      bottom: 4px;
    }
  }

  &.open {
    span {
      &:first-child {
        transform: translateY(10px) rotate(-315deg);
        background-color: white;
      }

      &:nth-child(2) {
        opacity: 0;
        background-color: white;
      }

      &:last-child {
        transform: translateY(-10px) rotate(315deg);
        background-color: white;
      }
    }
  }
}

#mask {
  display: none;
  transition: all .5s;

  &.open {
    display: block;
    background-color: #000;
    opacity: .8;
    width: 100%;
    height: 100%;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
  }
}

/*-------------------------------
header
-------------------------------*/
.top-image {
  background-image: url(../img/header.png);
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: white;
  padding: 40px;
  position: relative;
  #header {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 15px 0;
    .header-logo {
      font-weight: normal;
      a {
        color: white;
      }
    }
  }
